:root {
	--white: hsl(0, 0%, 100%);
	--light-gray: hsl(220, 69%, 97%);
	--lines: hsl(221, 69%, 94%);
	--medium-gray: hsl(216, 15%, 57%);
	--lines-dark: hsl(236, 11%, 27%);
	--dark-gray: hsl(235, 12%, 19%);
	--very-dark-gray: hsl(235, 16%, 15%);
	--black: hsl(237, 100%, 4%);
	--main-purple: hsl(242, 48%, 58%);
	--hover-main-purple: hsl(243, 100%, 82%);
	--red: hsl(0, 78%, 63%);
	--hover-red: hsl(0, 100%, 80%);
}
